.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3; 
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
}

.nav {
    display: flex;
}

.button {
    display: inline-block;
    margin-left: 10px;
}

.button a {
    display: block;
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    text-decoration: none;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    background-color: #e6e6e6; 
    padding: 20px;
}

.big-post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    display: flex; 
}

.big-post h2 {
    width: auto;
    margin-right: 20px; 
}

.big-post-text {
    flex: 1; 
}

.big-post-image {
    width: 300px; 
}

.big-post-image img {
    width: 100%;
    height: auto;
}

.small-posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.small-post {
    background-color: #fff;
    padding: 20px;
    display: flex; 
}

.small-post-image {
    width: 100px; 
    margin-right: 20px; 
    order: -1; 
}

.small-post-image img {
    width: 100%; 
    height: auto;
}

.small-post-text,
.small-post-comment {
    flex: 1; 
}

.comment-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
